.projectDiv table{
	width : 100%;
}

.content-header{
	margin:10px;
	margin-bottom:0px;
}

.content-grid{
	margin-top:20px;
}


#addUserForm .form-inline{
	margin:10px 0px;
}

#addUserForm .input-group:nth-of-type(even){
	margin-left:10px;
}
#addUserForm .label-input-width{
	width:277px;
}