<!DOCTYPE html>
<HTML>
	<HEAD>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="../../lib/bootstrap.3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../lib/combobox/kcui.combobox.css">
		<link rel="stylesheet" href="../../lib/combobox/kcui.icon.css">
		<link rel="stylesheet" href="../../lib/jqgrid/ui.jqgrid-bootstrap.css" />
    	<link rel="stylesheet" href="../../lib/bootstrapValidator0.5.3/css/bootstrapValidator.min.css"/>
		
		<script src="../../lib/jquery/jQuery-2.2.0.min.js"></script>
		<script type="text/javascript" src="../../lib/bootstrap.3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../lib/combobox/kcui-combobox.js"></script>
		<script type="text/javascript" src="../../lib/jqgrid/grid.locale-cn.js"></script>
		<script type="text/javascript" src="../../lib/jqgrid/jquery.jqGrid.min.js"></script>
		
   		<script type="text/javascript" src="../../lib/bootstrapValidator0.5.3/js/bootstrapValidator.min.js"></script>
    	<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript">
			var array=["../../css/account.css","../../js/views/account.js"];
			window.parent.$.learuntab.addJsOrCss(array,$("head")[0]);
		</script>
	
	
	</HEAD>
	<body>
		<div class="container-fluid content-header">
			<div class="row">
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
					<div class="pull-right">
						<button type="button" class="btn btn-success" id="addBtn">新增</button>
						<button type="button" class="btn btn-primary" id="login">登录</button>
						<!-- <button type="button" class="btn btn-danger" id="tokenShow">TOKEN显示</button> -->
					</div>
				</div>
			</div>
			<div class="row content-grid">
				 <table id="jqGrid"></table>
	    		 <div id="jqGridPager"></div>
			</div>
		</div>
		<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" data-backdrop="static" data-keyboard="false">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
		      		<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="addUserModalLabel">添加客户</h4>
		      		</div>
		      		<div class="modal-body">
		      			<div id="deleteSection">
							<div class="form-inline" id="userNameSection"></div>
						</div>
		 				<form id="addUserForm">
		 					<!--已绑定安装商节点块  -->
			 				<div id="bindInstaller" class="form-inline">
			 				</div>
							<div class="form-inline">
								<div class="form-group">
									<div class="input-group label-input-width">
										<label class="input-group-addon">客户名称</label> 
										<input type="text" class="form-control" name="customerName"/>
									</div>
								</div>
							</div>
							<div class="form-inline">
								<div class="form-group">
									<div class="input-group label-input-width">
										<label class="input-group-addon">登录帐号</label> 
										<input type="text" class="form-control" name="loginName"/>
									</div>
								</div>
							</div>
							<div class="form-inline">
								<div class="form-group">
									<div class="input-group label-input-width">
										<label class="input-group-addon">登录密码</label> 
										<input type="text" class="form-control" name="loginPwd"/>
									</div>
								</div>
							</div>
		 				</form>
		      		</div>
			      	<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        	<button type="button" class="btn btn-primary" id="saveBtn">确定</button>
			      	</div>
    			</div>
  			</div>
		</div>
		
		
		<div class="modal fade" id="dataModel" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" data-backdrop="static" data-keyboard="false">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
		      		<!-- <div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        	<h4 class="modal-title" id="dataModalLabel">TOKEN</h4>
		      		</div>
							<div  style="width:500px;height:100px;overflow:hidden" id="bigToken">
								
							</div> -->

					<div class="modal-footer">
			        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			      	</div>
    			</div>
  			</div>
		</div>
	</body>
</HTML>